%table.striped
  %tbody
  - @users.each do |user|
    - if ! @mailing.contains_user_valide(user[:uid].first)
      %tr
        %td 
          = user[:uid].first
        %td 
          = user[:mail].first
        %td.right-align
          = link_to 'Ajouter', accepter_inscription_path(@mailing.id, user[:uid].first), class: "btn-valider waves-effect waves-light btn"