%h4 LES MAILING LISTES

- if @mailings.length > 0
  - @mailings.each do |mailing|
    .col.s12.m4
      .card
        .card-content
          %b
            %p.one-line.mailing-link
              = link_to mailing.nom, mailing
          %p.one-line
            = mailing.mail
          %p.one-line
            = mailing.type_mailing
        .card-action
          - if mailing.contains_user_invalide(current_user.uid)
            %a.deja-fait
              Demande déjà envoyée
          - else
            = link_to "S'inscrire", demande_inscription_path(mailing.id)

- else
  %p Aucune mailing liste disponible
